body {
    background: black;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;  
}

.motivation-img {
    border: 5px solid white;
    width: 100%;
  
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}